body{
	background-color: #eee;
	margin: 0;
	font-family: Arial;
	font-size: 16px;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#mid{
	background-color: #fff;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	width: 60%;
	padding: 10px;
	box-shadow: 2px 1px 3px #000;
	z-index: -1;
}
nav ul{
	padding: 0;
	list-style-type: none;
	display: flex;
	width: 100%;
	box-shadow: 2px 1px 3px #000;
	margin:0px;
}
nav > ul{
	top:0;
	background-color: #fff;
	position: fixed;
}
nav li{
	position: relative;
}
nav > ul > li > a{
	display: block;
	background-color:#fff;
	color:black;
	text-decoration: none;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
	margin: 0;
	text-align: center;
}
nav > ul > li > ul > li > a{
	display: block;
	background-color: #fff;
	color: black;
	text-decoration: none;
	text-align: center;
}
nav ul ul{
	bottom: 0;
	z-index: -2;
	position: absolute;
	display: block;
	transition: all 0.5s;
}
nav li:hover >a{
	background-color: #ccc;
}
nav li:hover ul{
	transform:translateY(100%);
}

a{
	text-decoration: none;
}

image{
	display: inline-block;
}


.mySlides{
	display:inline-block;
	margin-left: auto;
	margin-right: auto;

}

header{
	margin-left: auto;
	margin-right: auto;
	text-align: center
	max-width: 800px;
}

.show{
	display:none;
	max-width: 600px;
}

input:checked~.show{
	display:block;
}


input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.size1100{
	max-width: 1100px
}

#show{
	max-width: 1100px;;
}



.dropdown, .form-group{
	display:inline-block;
}